---

* 코드를 작성 후 "Shift + Enter"를 누르거나, 상단의 Run을 클릭하면 코드가 실행 된다. 

---

**예제1** pandas를 pd라는 이름으로, matplotlib.pyplot을 plt라는 이름으로 불러와서 사용한다.

**예제2** 'pokemon.csv' 파일을 불러와서 df라 하고 처음 5개의 행을 확인하여라. 

---

| 활용법 | 설명 | 
| :---:|  :---: |
| pd.read_csv('파일명') | 파일을 불러온다.  | 

---

In [ ]:
df = pd.read_csv('pokemon.csv',  encoding='ISO-8859-1')

generation : 카드의 세대

name : 카드의 이름

types : 카드의 속성(불꽃, 물, 풀 등)

supertype : 카드의 대분류(Pokémon, Trainer, Energy)

hp : 카드가 가진 기술값(hit points)

resistances : 카드의 저항력 값

rarity : 카드의 희귀도 값


------------------------

<table>
  <tr>
    <td><img src="푸린.jpg" alt="푸린" width="300" height="200" /></td>
    <td><img src="트레이너.jpg" alt="트레이너" width="300" height="200" /></td>
    <td><img src="에너지.jpg" alt="에너지" width="300" height="200" /></td>
  </tr>
</table>


https://pokemoncard.co.kr/info/html/sub01.html

**예제3** df의 정보를 확인하여라. 

---

| 활용법 | 설명 | 
| :---:|  :---: |
| 데이터프레임.info() | 데이터프레임의 정보를 출력한다.  | 

---

**예제4** 다음의 코드를 작성하여라. 


---

| 활용법 | 설명 | 
| :---:|  :---: |
| 데이터프레임['열이름'].unique() | 해당 열의 값을 중복없이 출력한다.   | 
| 데이터프레임['열이름'].value_counts() | 해당 열의 값의 각각의 개수를 출력한다.   |

---

(1) 'generation'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

(2) 'generation'열의 값의 각각의 개수를 세어라.

(3) 'generation'열의 값의 각각의 개수를 막대그래프로 나타내어라.

(4) 'generation'열의 값의 각각의 개수를 원그래프로 나타내어라.

**문제1** 다음의 코드를 작성하여라.

(1) 'supertype'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

(2) 'supertype'열의 값의 각각의 개수를 세어라.

(3) 'supertype'열의 값의 각각의 개수를 막대그래프로 나타내어라.

(4) 'supertype'열의 값의 각각의 개수를 원그래프로 나타내어라.

**문제2** 다음의 코드를 작성하여라.

(1) 'types'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

(2) 'types'열의 값의 각각의 개수를 세어라.

(3) 'types'열의 값의 각각의 개수를 막대그래프로 나타내어라.

(4) 'types'열의 값의 각각의 개수를 원그래프로 나타내어라.

**문제3** 다음의 코드를 작성하여라.

(1) 'name'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

(2) 'name'열의 값 전체의 개수를 세어라.

(3) 'name'열의 처음 10개의 값을 막대그래프로 나타내어라.

**예제5** 다음의 코드를 작성하여라.

(1) 'resistances'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

(2) 'rarity'열의 값을 확인하여라. (단, 중복은 제거하여 출력한다.)

**예제6** 다음의 코드를 작성하여라.

(1) 'generation'열의 값이 'First'인 처음 5개 행을 확인하여라.

(2) 'generation'열의 값이 'First'인 자료에서 'supertype'열의 값의 각각의 개수를 세어라.

(3) (2)의 결과를 원그래프로 나타내고 제목은 'First generation'이라 하여라.

(4) 반복문을 이용하여 1세대부터 9세대까지의 'supertype'열의 값의 각각의 개수를 원그래프로 나타내어라.

**문제4** 다음의 코드를 작성하여라.

(1) 'generation'열의 값이 'First'인 자료에서 'name'열의 값의 각각의 개수를 세어서 처음 10개의 값을 출력하여라.

(2) (1)의 결과를 막대그래프로 나타내고 제목은 'First generation'이라 하여라.

(3) 반복문을 이용하여 1세대부터 9세대까지의 'name'열의 값의 각각의 개수의 처음 10개의 값을 막대그래프로 나타내어라.

**문제5** 다음의 코드를 작성하여라.

(1) 'supertype'열의 값이 'Pokemon'인 처음 5행을 확인하여라.

(2) (1)의 결과를 원그래프로 나타내고 제목은 'Pokemon'이라 하여라.

(3) 반복문을 이용하여 Pokemon, Trainer, Energy의 'name'열의 값의 각각의 개수를 막대그래프로 나타내어라.

**예제7** 다음의 코드를 작성하여라.

(1) groupby함수를 사용하여 'types'별 'hp'의 평균값을 구하여라.

(2) 'types'별 'hp'의 평균값을 막대그래프로 나타내어라.

(3) 1세대 인 경우, 'types'별 'hp'의 평균값을 막대그래프로 나타내고 제목을 'First generation'이라 하여라.

(4) 반복문을 이용하여 1세대부터 9세대까지의 'types'별 'hp'의 평균값을 막대그래프로 나타내어라.

**예제8** 다음의 코드를 작성하여라.

(1) groupby함수를 사용하여 'name'별 'hp'의 평균값을 구하여라.

(2) 'name'별 'hp'의 평균값을 'hp'의 값을 기준으로 내림차순으로 정렬하여라.

(3) 'name'별 'hp'의 평균값을 'hp'의 값을 기준으로 내림차순한 값의 처음 20개를 막대그래프로 나타내어라.