---

* 코드를 작성 후 "Shift + Enter"를 누르거나, 상단의 Run을 클릭하면 코드가 실행 된다. 

---

# 리스트 

> 파이썬에서 자료(문자 혹은 숫자)를 정리할 수 있는 자료구조에는 리스트,  튜플, 딕셔너리등이 있다. 
>

| 구분 | 특징 | 표현방법 | 예 |
| :---: | :---: | :---: | :---: | 
| 리스트 | 자료를 순서대로 정리 한다. | [ ]를 사용, 쉼표로 각 원소를 구분 | [1, 2, 2] |

> 리스트의 활용법은 다음과 같다. 


| 활용법 | 설명 | 
| :---:|  :---: |
| list(데이터) | 데이터를 리스트로 바꾼다. |  
| 리스트.append(값) | 리스트의 마지막에 값을 추가한다. | 
| 리스트.insert(위치, 값) | 리스트의 해당 위치에  값을 추가한다. |
| 리스트.sort() | 리스트를 정렬한다. | 
| 리스트1 + 리스트2 | 리스트1과 리스트 2를 합친다. |
| sum(리스트) | 리스트의 원소가 모두 수일때 리스트의 수를 더한다. |
| 리스트[n] | 리스트의 n+1번째 위치의 값을 출력한다. |
| 리스트[a:b] | 리스트의 a+1번째 위치부터 b번째 위치의 값을 출력한다. |  

---

**예제1** 다음을 코드로 작성하여라.  

(1) '2, 21, -15, 학교'인 리스트를 a라 하고, '2, -3, 4, 8'인 리스트를 b라 하고 a와 b를 각각 출력하여라.

(2) 리스트 a에 '학생'을 추가하고 이를 확인하여라.

(3) 리스트 b의 두번째 위치에 6를 추가하고 이를 확인하여라.

(4) 리스트 b의 값을 정렬하여라.

(5) 리스트 a의 첫번째 값을 출력하여라.

(6) 리스트 a의 두번째부터 다섯번째까지의 값을 출력하여라.

(7) 리스트 a와 b를 하나로 합하여라.

(8) 리스트 b의 원소를 모두 더하여라.

**문제1** 다음을 코드로 작성하여라. 

(1) '사과, 배, 감, 포도'인 리스트를 c라 하고 c를 출력하여라.

(2) 리스트 c에 '수박'을 추가하고 이를 확인하여라.

(3) 리스트 c의 값을 정렬하여라.

(4) 리스트 c의 세번째 값을 확인하여라.

(5) c의 세번째 위치에 '바나나'를 추가하고 이를 확인하여라.

# range 함수

| 활용법 | 설명 |
| :---:  | :---:  |
| range(n) | 0 이상 n 미만의 값을 생성한다. |
|  range(a, b) | a 이상 b 미만의 값을 생성한다. |
|  range(a, b, c) | a 이상 b 미만의 값을 c 간격으로 생성한다. |

---

**예제2** 다음의 코드를 작성하여라. 

(1) 0, 1, 2, 3, 4, 5를 range를 이용하여 생성하여라.

(2) 리스트를 이용하여 (1)의 값을 출력하여라.

(3) 리스트를 이용하여 1과 10 미만의 짝수를 출력하여라.

**문제2** 다음의 코드를 작성하여라. 

(1) 리스트를 이용하여 3, 4, 5, 6, 7, 8, 9를 출력하여라.

(2) 리스트를 이용하여 1과 100 미민의 7의 배수를 출력하여라.

# for 문

>for문은 반복문에 사용된다. 

--- 

for 문의 기본 구조는 다음과 같다.

for 변수 in 범위(리스트) : 
   수행문장

**예제3** for문을 활용하여 다음을 코드로 작성하여라.

(1) 1, 2, 3, 4를 출력하여라.

(2) 1, 3, 5, 7, 9를 출력하여라.

(3) 2, 4, 6, 8, 10를 리스트에 차례로 넣어서 출력하여라.

(4) 1부터 10까지 수의 합을 구하여라.

(5) 1부터 10까지 수의 곱을 구하여라.

**문제3** for문을 활용하여 다음을 코드로 작성하여라.

(1) 1부터 100 미만의 9의 배수를 리스트에 차례로 넣어서 출력하여라.

(2) 1부터 100 미만의 짝수의 합을 구하여라.

# 도전하기 

for문을 활용하여 아래와 같은 2단 구구단표를 출력하여라.

```
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
```

----

**예제4** 다음 예와 같이 첫번째 줄에는 별 1개, 두번째 줄에는 별 2개, 다섯번째 줄에는 별 5개를 찍는 코드를 작성하여라. 

```
*
**
***
****
*****
```

**예제5** 다음 예와 같이 오른쪽을 기준으로 첫번째 줄에는 별 1개, 두번째 줄에는 별 2개, 다섯번째 줄에는 별 5개를 찍는 코드를 작성하여라. 

```
     *
    **
   ***
  ****
 *****
```

**문제4** 다음 예와 같이 첫번째 줄에는 별 5개, 두번째 줄에는 별 4개, ..., 다섯번째 줄에는 별 1개를 찍는 코드를 작성하여라. 

```
*****
****
***
**
*
```

**문제5** 다음 예와 같이 오른쪽을 기준으로 첫번째 줄에는 별 5개, 두번째 줄에는 별 4개, ..., 다섯번째 줄에는 별 1개를 찍는 코드를 작성하여라. 

```
*****
 ****
  ***
   **
    *
```

# 도전하기 

다음 예와 같이 첫번째 줄에는 별 1개, 두번째 줄에는 별 3개, ..., 다섯번째 줄에는 별 9개를 찍는 코드를 작성하여라. 단, 별은 가운데를 기준으로 대칭이어야 한다. 


```
    *
   ***
  *****
 *******
*********
```

# 도전하기 

다음 예와 같이 첫번째 줄에는 별 9개, 두번째 줄에는 별 7개, ..., 다섯번째 줄에는 별 1개를 찍는 코드를 작성하여라. 단, 별은 가운데를 기준으로 대칭이어야 한다. 


```
*********
 *******
  *****
   ***
    *
```